@import url(input.less);
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: rgb(202, 195, 186);
  height: 86vh;
  padding-top: 100px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(130, 119, 154);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  width: 500px;
  margin: 0 auto;
  font-size: 16px;
}
.pricing-form {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  &_bar {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 17px;
        left: -3px;
        background: #000;
        width: 5px;
        height: 25px;
        border-radius: 2px;
        z-index: 9;
    }
    &::after {
        content: '';
        position: absolute;
        top: 17px;
        right: -3px;
        background: #000;
        width: 5px;
        height: 25px;
        border-radius: 2px;
        z-index: 9;
    }
  }
}
.output {
  display: flex;
  gap: 10px;
  .providers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .provider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      img {
        height: 40px;
      }
      .input {
        display: inline-block;
      }
    }
  }
  .bars {
    border-left: 5px solid #000;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .provider-bar {
      display: flex;
      height: 40px;
      align-items: center;
      .bar {
        background-color: rgb(185, 180, 180);
        height: 100%;
        transition: all 0.2s ease-in-out;
      }
      .smallest-price {
        background-color: rgb(131, 3, 131);
      }
    }
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding-top: 50px;
    height: 95vh;
  }
  .main {
    width: 80%;
    flex-direction: column-reverse;
    gap: 50px;
  }
  .pricing-form {
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
  }
  .output {
    flex-direction: column-reverse;
    height: 400px;
    .providers {
      gap: initial;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .provider {
        width: 25%;
        flex-direction: column-reverse;
        .text {
          text-align: center;
        }
        .input {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
        }
      }
    }
    .bars {
      gap: initial;
      flex-direction: row;
      border: none;
      border-bottom: 5px solid #000;
      justify-content: space-between;
      .provider-bar {
        height: initial;
        flex-direction: column-reverse;
        flex-grow: 1;
      }
      .bar {
        height: 100px;
        width: 40px;
      }
    }
  }
}
